---
import OshiCard from "./OshiCard.astro"
import type { CollectionEntry } from "astro:content"

type Props = {
  items: CollectionEntry<"oshi">[]
}

const { items } = Astro.props
---

<div class="oshiGrid">
  {items.map(item => (
    <OshiCard
      title={item.data.name}
      caption={item.data.caption}
      cover={item.data.cover}
      color={item.data.color}
      tags={item.data.tags}
    />
  ))}
</div>
