---
type Props = {
  title?: string
  description?: string
  image?: string
}

const {
  title = "ぴろきんちょす",
  description = "「ちょす」って呼んでください",
  image = "ogp.png"
} = Astro.props

import "../styles/main.scss"

const ogpImage = new URL(`${import.meta.env.BASE_URL}${image}`, Astro.site)
const currentUrl = new URL(Astro.url.pathname, Astro.site)
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>

    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={currentUrl} />
    <meta property="og:image" content={ogpImage} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={ogpImage} />

    <link rel="stylesheet" href={`${import.meta.env.BASE_URL}assets/fonts/fonts.css`} />
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.ico`} />
  </head>
  <body>
    <slot />
  </body>
</html>
